pydantic
pydantic_settings
pytest
coverage
fastapi[standard]
redis
testcontainers
typing-inspect
setuptools
gidgethub
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-identity
pyjwt
loguru
requests
